header a {
    color:ghostwhite;
    text-shadow: 3px 3px 3px #0098c3;
    text-decoration:none;
    }
    header a:visited {
    color:ghostwhite;
    text-shadow: 3px 3px 3px #0098c3;
    text-decoration:none;
    }
    header a:hover {
    color:#f1044b;
    text-decoration:none;
    }

    nav {
        align-items: flex-end;
        width: 100%;
    }
    nav ul {
        width: 100%;
        display: flex;
        justify-content: flex-end; /* Align items to the right */
        position: absolute; /* Position the ul element */
        top: 0px; /* Position it vertically in the middle */
        right: 0px; /* Position it on the right side */
        padding-right: 10%;
        /*transform: translateY(-50%); /* Adjust vertical position */
        z-index: 999; /* Ensure it overlays on top of the hero image */

    }


    nav li {
    list-style: none;
    display: inline;
    padding: 0px;
    color: silver;
    }


    nav ul li a {
        color: silver;
        text-decoration: none;
        display: block;
        padding: 0 100px;
        text-decoration: none;
        font-weight:bold;
        line-height: 100px;
        margin-left: 1rem;
        z-index: 999;

    }
    nav li a:active {
        background: #0098c;
        color:#f1044b;
        border: .5px solid silver;
        border-radius: 15px;
    }
    nav li a:hover {
        background: silver;
        color:#f1044b;
        border: .5px solid #0098c;
        border-radius: 15px;
    }
   
    main a,
    main a:visited {
        color:ghostwhite;
        text-shadow: 3px 3px 3px #0098c3;
        text-decoration: underline;
        font-weight:bold;
        line-height: 100px;
        
        
    }
    main a:hover {
        background: silver;
        color:#f1044b;
        border: .5px solid #0098c;
        border-radius: 15px;
    }
    footer a {
        color:black;
        font-size: 2em;
        text-decoration:none;
    }
    
    footer a:visited {
        color:black;
        text-decoration:none;
    }
    
    footer a:hover {
        color:#f1044b;
        text-decoration: none;
    }